



body {
    margin: 0;
    text-align: center;
}

.hero {
    background: #6943fe;
    color: white;
    padding: 30px;
    
}

.main {
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;

}

#inputs input, 
#inputs button {
  width: 100px; 
  text-align: center; 

}

#input {
    height: 50px;
    font: large;
}



    
   

